* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #dc2424; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a569d,
    #dc2424
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a569d,
    #dc2424
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 625px;
}
.card-login {
  max-width: 35%;
  max-height: 400px;
  background-color: #c52d38;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px;
  border-radius: 7px;
  box-shadow: 0 2px 7px #000;
}
.title-login {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #eee;
  padding: 25px 20px;
}
.input-login {
  /* background-color: rgb(219, 12, 174); */
  width: 100%;
  height: 50px;
  margin: 15px 0px;
  border-radius: 20px;
  font-size: 25px;
  padding: 0px 15px;
  border: none;
  border-bottom: 1px solid #eee;
  color: #eee;
  outline: none;
  background-color: transparent;

}
.boton-login {
  background-color: #505599;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 20px;
  margin: 10px 0px;
  color: #eee;
  letter-spacing: 1px;
  cursor: pointer;
}
